<?xml version="1.0"?>
<configuration>
  <configSections>    
  </configSections>
  <appSettings>
    <add key="CurrentDir" value="C:\Users\dc\Desktop\书法字库软件\书法字库软件\书法字库软件\bin\Debug\Images\"/>
    <add key="ImageHeight" value="50.0"/>
    <add key="ImageWidth" value="50.0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
